<footer class="footer">
  <div class="footer__line"></div>
  <div class="footer__content">
    <p class="footer__copyright">&copy; <span class="footer__year"></span> Douglas Pinheiro Goulart. Alguns direitos reservados.</p>
    <p class="footer__copyright">Mockup images by <a class="pulsate-link" href="https://dribbble.com/vhoraamir7" target="_blank" rel="noopener">Amir Vhora</a>. He designs some awesome stuff, go check it out :)</p>
    <p class="footer__copyright">Twine: <a class="pulsate-link" href="https://www.twine.net/DouglasPinheiroGoula" target="_blank" rel="noopener">https://www.twine.net/DouglasPinheiroGoula</a></p>
  </div>
</footer>