<header class="header" id="header">
  <div class="header__container">
    <div class="header__info">
      <h1 class="heading-primary">Full-stack Developer</h1>
      <p class="header__description paragraph paragraph--big">
        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Aenean convallis magna
        eget mi ultrices egestas. Integer fringilla a
        est a interdum.
      </p>

      <div class="header__buttons">
        <a href="./#projects" class="button">
          <span class="button__aesthetic button__aesthetic--outline">
            Projetos
          </span>
        </a>
        <a href="./#contact" class="button">
          <span class="button__aesthetic">
            Entre em contato
          </span>
        </a>
      </div>
    </div>

    <div class="header__imgs">
      <img src="/assets/img/header.svg" alt="I build cool stuff" class="header__img">
    </div>
  </div>

  <ul class="header__social">
    <li class="header__social-item">
      <a href="https://github.com/doougui" target="_blank" rel="noopener" class="header__social-link">
        <i class="fab fa-github header__social-img"></i>
      </a>
    </li>
    <li class="header__social-item">
      <a href="https://www.linkedin.com/in/douglaspigoulart" target="_blank" rel="noopener" class="header__social-link">
        <i class="fab fa-linkedin header__social-img"></i>
      </a>
    </li>
    <li class="header__social-item">
      <a href="https://www.instagram.com/devtype_code" target="_blank" rel="noopener" class="header__social-link">
        <i class="fab fa-instagram header__social-img"></i>
      </a>
    </li>
  </ul>
</header>
