<div class="navigation">
    <div class="navigation__container">
        <div class="navigation__person">
            <div class="navigation__person-image"></div>

            <div class="navigation__person-info">
                <p class="navigation__person-name">Douglas Pinheiro Goulart</p>
                <p class="navigation__person-role">Desenvolvedor Web</p>
            </div>
        </div>

        <nav class="navigation__menu">
            <ul class="navigation__items">
                <li class="navigation__item">
                    <a href="#section-about" class="navigation__link">Sobre mim</a>
                </li>
                <li class="navigation__item">
                    <a href="#section-projects" class="navigation__link">Projetos</a>
                </li>
                <li class="navigation__item">
                    <a href="https://github.com/doougui/resume" target="_blank" rel="noopener" class="navigation__link">Currículo</a>
                </li>
                <li class="navigation__item">
                    <a href="#section-contact" class="button">
                        <div class="button__aesthetic">
                            Entre em contato
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>