<div class="navigation">
    <div class="navigation__container">
        <a href="./" class="navigation__go-to-header">
            <div class="navigation__person">
                <div class="navigation__person-image"></div>

                    <div class="navigation__person-info">
                        <p class="navigation__person-name">Douglas Pinheiro Goulart</p>
                        <p class="navigation__person-role">Desenvolvedor Web</p>
                    </div>
            </div>
        </a>

        <nav class="navigation__menu">
            <ul class="navigation__items">
                <li class="navigation__item">
                    <a href="./#projects" class="navigation__link">Projetos</a>
                </li>
                <li class="navigation__item">
                    <a href="./#about" class="navigation__link">Sobre</a>
                </li>
                <li class="navigation__item">
                    <a href="./#clients" class="navigation__link">Clientes</a>
                </li>
                <li class="navigation__item">
                    <a href="./#services" class="navigation__link">Serviços</a>
                </li>
                <li class="navigation__item">
                    <a href="https://github.com/doougui/resume" target="_blank" rel="noopener" class="navigation__link">Currículo</a>
                </li>
                <li class="navigation__item">
                    <a href="./#contact" class="button">
                        <div class="button__aesthetic button__aesthetic--menu">
                            Entre em contato
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>