<div class="navigation">
  <div class="navigation__container">
    <a href="{{ site.url }}" class="navigation__go-to-header">
      <div class="navigation__person">
        <picture class="navigation__person-image">
          <source srcset="{{ site.url }}/assets/img/profile.webp" class="navigation__person-img" type="image/webp">
          <source srcset="{{ site.url }}/assets/img/profile.jpeg" class="navigation__person-img" type="image/jpeg"> 
          <img class="navigation__person-img" src="{{ site.url }}/assets/img/profile.jpeg" alt="Programador" width="40" height="40">
        </picture>

        <div class="navigation__person-info">
          <p class="navigation__person-name">Douglas Pinheiro Goulart</p>
          <p class="navigation__person-role">Desenvolvedor Web</p>
        </div>
      </div>
    </a>

    <nav class="navigation__menu">
      <div class="burger__wrapper">
        <div class="burger" aria-expanded="false" aria-controls="menu"></div>
      </div>

      <ul class="navigation__items">
        <li class="navigation__item">
          <a href="./#projects" class="navigation__link">Projetos</a>
        </li>
        <li class="navigation__item">
          <a href="./#about" class="navigation__link">Sobre</a>
        </li>
<!--         <li class="navigation__item">
          <a href="./#clients" class="navigation__link">Clientes</a>
        </li> -->
        <li class="navigation__item">
          <a href="./#services" class="navigation__link">Serviços</a>
        </li>
        <li class="navigation__item">
          <a href="https://github.com/doougui" target="_blank" rel="noopener"
            class="navigation__link">GitHub</a>
        </li>
        <li class="navigation__item">
          <a href="./#contact" class="button">
            <div class="button__aesthetic button__aesthetic--menu">
              <span>Entre em</span> contato
            </div>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>