.projects {
  &__filters {
    text-align: center;
    margin-bottom: 2.5rem;

    .button {
      margin: .75rem;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;

    @include respond(tab-land) {
      justify-content: center;
    }
  }

  &__button {
    display: block;
    margin: 4.5rem 0 6rem 0;
    text-align: center;
  }
}

.about-section {
  background-color: $color-gray-lighter;
  padding: 9.6rem 0;

  @include respond(tab-port) {
    background-color: $color-secondary;
  }
}

.clients {
  padding-bottom: 7rem;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__column {
    @include respond(tab-port) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.clients-section {
  background-color: $color-gray-lightest;
}

.services-section {
  background-color: $color-white;
  padding: 2rem 0 8rem 0;
}

.services {
  &__container {
    display: flex;
    flex-wrap: wrap;
  }
}

.social-contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 7rem;

  @include respond(phone) {
    padding: 0 2rem;
  }

  &__item,
  &__item:link,
  &__item:visited {
    color: $color-gray-dark;
    font-size: $normal-font-size;
    transition: all .25s;
    margin: 1rem 1.75rem ;

    &:hover {
      color: $color-secondary;
    }
  }
}