.projects {
  &__filters {
    text-align: center;
    margin-bottom: 2.5rem;

    .button:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__button {
    display: block;
    margin: 4.5rem 0 6rem 0;
    text-align: center;
  }
}

.about-section {
  background-color: $color-gray-lighter;
  height: 75.2rem;
}

.clients {
  margin-bottom: 7rem;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.services-section {
  background-color: $color-gray-lightest;
  padding: 2rem 0 8rem 0;
}

.services {
  &__container {
    display: flex;
    flex-wrap: wrap;
  }
}

.social-contact {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 7rem;

  &__item,
  &__item:link,
  &__item:visited {
    color: $color-gray-dark;
    font-size: $normal-font-size;
    transition: all .25s;

    &:not(:last-child) {
      margin-right: 3.5rem;
    }

    &:hover {
      color: $color-secondary;
    }
  }
}