.thanks {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  &__smile {
    @include respond(phone) {
      display: none;
    }
  }

  &__description {
    text-align: center;
  }

  &__goback {
    margin-top: 3rem;
  }
}