/**
 * Colors
 */
$color-primary: #107BEB;
$color-secondary: #3F3D56;

$color-gray-lightest: #F9F9F9;
$color-gray-lighter: #F5F5F5;
$color-gray-light: #e3e2ef;
$color-gray: #B4B4B4;
$color-gray-dark: #A0A0A0;

$color-black: #000000;
$color-white: #FFFFFF;


/**
 * Container
 */
$container: 114.6rem;

/**
 * Shadows
 */
$header-shadow: 0 .2rem .5rem rgba($color-black, .2);
$btn-shadow: 0 .2rem .5rem rgba($color-black, .2);

/**
 * Border Radius
 */
$btn-radius: .7rem;
$input-radius: .7rem;

$project-radius: 1.5rem;
$client-radius: 1.5rem;

$about-me-picture-radius: 5rem 0 0 5rem;

/**
 * Fonts
 */
$small-font-size: 1.4rem;
$normal-font-size: 1.6rem;
$default-font-size: 1.8rem;
$big-font-size: 2.4rem;

$title-font-size: 6rem;
$subtitle-font-size: 3.6rem;

$default-line-height: 1.5;

/**
 * Icons
 */
$icon-size: 10rem;