// Colors
$color-primary: #107BEB;
$color-secondary: #3F3D56;

$color-gray-light: #F9F9F9;
$color-gray: #B4B4B4;
$color-gray-dark: #A0A0A0;

$color-black: #000000;
$color-white: #FFFFFF;

// Shadows
$btn-shadow: 0 .2rem .3rem rgba($color-black, .25);

// Border radius
$btn-radius: .7rem;
$input-radius: .7rem;

$project-radius: 1.5rem;
$client-radius: 1.5rem;

$about-me-picture-radius: 5rem 0 0 5rem;

// Fonts
$default-font-size: 1.6rem;