.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  &__content {
    margin-left: 8rem;

    @include respond(tab-port) {
      margin: 0 4rem;
      color: $color-white;
    }

    .heading-primary {
      @include respond(tab-port) {
        color: inherit;
      }
    }
  }

  &__description {
    margin-top: 2rem;
    font-size: $big-font-size;
    line-height: $big-line-height;
    font-weight: 300;
    color: inherit;

    span {
      @include respond(tab-land) {
        display: none;
      }
      
      @include respond(tab-port) {
        display: block;
      }
      
      @include respond(phone) {
        display: none;
      }
    }
  }

  &__contact,
  &__contact:link,
  &__contact:visited {
    color: $color-primary;
    display: inline-block;
    
    &:hover {
      animation: scale .8s infinite;
    }
  }

  &__photo {
    position: relative;
    z-index: 7;
    margin-left: 10rem;

    &::before {
      content: '';
      background-color: $color-secondary;
      width: 100%;
      height: 100%;
      position: absolute;
      right: 3.4rem;
      top: 3.2rem;
      border-radius: $about-me-picture-radius;
      z-index: 6;
    }

    @include respond(tab-port) {
      display: none;
    }
  }

  &__img {
    width: 57rem;
    border-radius: $about-me-picture-radius;
    position: relative;
    z-index: 7;

    @include respond(tab-land) {
      width: 45rem;
    }
  }
}