.accordion {
  display: none;

  &__opener,
  &__opener:link,
  &__opener:visited {
    cursor: pointer;
    font-size: $default-font-size;
    margin: 1.5rem 0;
  }

  &__content {
    display: none;

    &--hiding {
      animation: slideUp .3s;
      display: block;
    }

    &--visible {
      animation: slideDown .3s;
      display: block;
    }
  }
}