.accordion {
  display: none;

  &__opener,
  &__opener:link,
  &__opener:visited {
    cursor: pointer;
    font-size: $default-font-size;
    margin: 1.5rem 0;
  }

  .js &__content {
    display: none;
        
    &--visible {
      animation: slideDown .3s backwards;
      display: block;
    }
  }
}