.accordion {
  display: none;

  &__opener {
    &,
    &:link,
    &:visited {
      cursor: pointer;
      font-size: $default-font-size;
      margin: 1.5rem 0;
    }

    &::after {
      content: '▼';
      margin-left: 5px;
    }

    &--visible,
    &--visible:link,
    &--visible:visited {
      &::after {
        content: '▲';
      }
    }
  }

  &__content {
    display: none;

    &--hiding {
      animation: slideUp .3s;
      display: block;
    }

    &--visible {
      animation: slideDown .3s;
      display: block;
    }
  }
}