.burger {
  position: relative;
  background: $color-primary;
  width: 27px;
  height: 2px;
  transition: all .2s;

  &__wrapper {
    padding: 2rem;
    cursor: pointer;
    display: none;

    @include respond(tab-port) {
      display: block;
    }
  }

  &::before,
  &::after {
    content: '';
    background: $color-primary;
    display: block;
    height: 2px;
    position: absolute;
    right: 0;
    transition: all .2s;
  }

  &::before {
    width: 100%;
    bottom: 7px;
  }

  &::after {
    width: 20px;
    top: 7px;
  }

  &__wrapper--active & {
    transform: rotate(45deg);
  }

  &__wrapper--active &::before {
    transform: rotate(90deg);
    bottom: 0;
  }

  &__wrapper--active &::after {
    width: 100%;
    transform: rotate(-90deg);
    top: 0;
  }
}