.burger {
  position: relative;
  background: $color-primary;
  width: 27px;
  height: 2px;

  &__wrapper {
    padding: 2rem;
    cursor: pointer;
    display: none;

    @include respond(tab-port) {
      display: block;
    }

    &--active {
      // turn into a X
    }
  }

  &::before,
  &::after {
    content: '';
    background: $color-primary;
    display: block;
    height: 2px;
    position: absolute;
    right: 0;
  }

  &::before {
    width: 100%;
    top: -7px;
  }

  &::after {
    width: 20px;
    bottom: -7px;
  }
}