/**
 * Here we apply the transform property in a child element to avoid the glitchy effect when hovering
 * See more in: https://twitter.com/JoshWComeau/status/1339696520388628483
 */
.button {
  background: none;
  border: none;
  outline: none;

  &:not(.disabled) {
    cursor: pointer;
  }

  &__aesthetic,
  &:link &__aesthetic,
  &:visited &__aesthetic {
    color: $color-white;
    font-size: $normal-font-size;
    background-color: $color-primary;
    padding: 1.5rem 1.2rem;
    min-width: 20rem;
    text-align: center;
    line-height: 1;
    border-radius: $btn-radius;
    box-shadow: $btn-shadow;
    font-weight: 700;
    transition: all .2s;
    display: inline-block;
    text-transform: uppercase;

    &--menu {
      text-transform: initial;
      font-size: $small-font-size;
      padding: 1.2rem 0;

      span {
        @include respond(tab-port) {
          display: none;
        }
      }

      @include respond(tab-port) {
        margin: .7rem 0;
        text-transform: uppercase;
        font-weight: 700;
        font-size: $big-font-size;
        color: $color-primary;
        background: none;
        box-shadow: none;
        padding: 0;
        text-align: right;
        min-width: auto;
      }
    }

    &--outline {
      background-color: transparent;
      border: .1rem solid $color-primary;
      color: $color-primary;
      padding: 1.4rem 1.2rem;

      &-disabled {
        border: .1rem solid $color-error;
        color: $color-error;
      }
    }

    &--small {
      min-width: 17rem;
    }
  }

  &:not(.disabled):hover &__aesthetic,
  &:not(.disabled):focus &__aesthetic {
    transform: translateY(-.2rem);
    box-shadow: 0 .1.5rem .25rem rgba($color-black, .2);
  }
}