.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, .3);
  transition: .2s ease-in-out;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 11;

  @include respond(phone) {
    justify-content: flex-start;
    align-items: flex-start;
  }

  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  &--visible {
    display: flex;
  }

  &__content {
    flex: 0 1 68rem;
    height: 80vh;
    background-color: $color-white;
    overflow-y: scroll;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: $modal-radius;
    transition: all .2s ease-in-out;
    position: relative;

    @include respond(phone) {
      flex: 0 0 100vw;
      min-height: 100vh;
    }
  }

  &--visible &__content {
    animation: fromTop .3s forwards;

    @include respond(phone) {
      animation: fromRight .3s forwards;
      position: relative;
    }
  }

  &__text {
    max-width: 80%;
    margin: 1rem auto;
  }

  &__title-wrapper {
    overflow-x: hidden;
    margin-top: 3rem;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__description-wrapper {
    margin-top: 1.5rem;
    font-size: $normal-font-size;
  }

  &__category {
    display: block;
    margin-top: 1rem;
  }

  &__btns-main {
    margin: 3rem 0 4rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    @include respond(phone-small) {
      flex-direction: column;
      align-items: center;
    }

    .button:not(:first-child) {
      margin-left: 1rem;

      @include respond(phone-small) {
        margin-left: 0;
      }
    }

    .button {
      margin-bottom: 1.5rem;

      @include respond(phone-small) {
        display: block;
      }
    }
  }

  &__close {
    font-size: $default-font-size;
    position: absolute;
    color: $color-white;
    z-index: 12;
    cursor: pointer;
    background-color: $color-error;
    width: 2.5rem;
    height: 2.5rem;
    top: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    @include respond(phone) {
      width: 3.5rem;
      height: 3.5rem;
      font-size: $big-font-size;
    }
  }

  &__go-back {
    font-size: $big-font-size;
    color: $color-secondary;
    margin-top: auto;
    padding: 1.5rem;
    display: none;
    text-align: center;

    @include respond(phone) {
      display: block;
    }
  }
}