.project {
  flex: 0 0 36.7rem;
  height: 27rem;
  background-color: $color-gray;
  border-radius: $project-radius;
  margin: .75rem;
  cursor: pointer;
  display: block;
  animation: fromTop .3s forwards;
  transition: .2s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &--hidden {
    display: none;
  }
}

