.project {
  background-color: $color-gray;
  border-radius: $project-radius;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  transition: .2s ease;
  background-size: cover;
  background-position: center;

  &--hidden {
    visibility: hidden;
    opacity: 0;
  }
}

