.scrollup {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  background-color: $color-primary;
  width: 5rem;
  height: 5rem;
  box-shadow: $btn-shadow;
  border-radius: $btn-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 8;

  img {
    transform: rotate(180deg);
    color: $color-white;
  }
}