<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'pt' }}">

  {%- include head.html -%}
  <body>
    {%- include models.html -%}

    {%- include navigation.html -%}

    {{ content }}

    {%- include footer.html -%}

    <a href="#header" class="scrollup">
      <img src="{{ site.url }}/assets/img/arrow.svg" alt="Scroll to top" width="22" height="12">
    </a>

    <script>const url = '{{ site.url }}';</script>
    <script src="https://kit.fontawesome.com/f8d095f64b.js" crossorigin="anonymous"></script>
    <script src="{{ site.url }}/assets/js/vendor/modernizr-custom.js" defer></script>
    <script type="module" src="{{ site.url }}/assets/js/index.js" defer></script>
  </body>
</html>
