<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'pt' }}">

  {%- include head.html -%}
  <body>
    {%- include models.html -%}

    {%- include navigation.html -%}

    {{ content }}

    {%- include footer.html -%}

    <a href="#header" class="scrollup">
      <img src="/assets/img/arrow.svg" alt="Scroll to top">
    </a>

    <script src="https://kit.fontawesome.com/f8d095f64b.js" crossorigin="anonymous"></script>
    <script src="/assets/js/vendor/modernizr-custom.js" defer></script>
    <script type="module" src="/assets/js/index.js" defer></script>
  </body>
</html>
