<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'pt' }}">

  {%- include head.html -%}
  <body>

    {%- include navigation.html -%}

    {{ content }}

    {%- include footer.html -%}

    <a href="#header" class="scrollup">
      <img src="/assets/img/arrow.svg" alt="Scroll to top">
    </a>

    <script src="https://kit.fontawesome.com/f8d095f64b.js" crossorigin="anonymous"></script>
    <script src="/assets/js/utils.js"></script>
    <script src="/assets/js/nav.js"></script>
    <script src="/assets/js/projectsJson.js"></script>
    <script src="/assets/js/listProjects.js"></script>
    <script src="/assets/js/projectFilters.js"></script>
    <script src="/assets/js/script.js"></script>
  </body>
</html>
