.header {
  height: 100vh;
  z-index: 9;
  background-color: $color-white;
  position: relative;

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__info {
    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }
  }

  &__description {
    max-width: 47rem;

    @include respond(tab-port) {
      max-width: 44rem;
      margin: 3rem auto;
    }
  }

  &__buttons {
    margin-top: 3rem;

    a {
      display: inline-block;
      margin-bottom: 1.5rem;

      @include respond(tab-port) {
        display: block;
      }
    }

    a:not(:last-child) {
      margin-right: 1.5rem;

      @include respond(tab-port) {
        margin-right: 0;
      }
    }
  }

  &__imgs {
    @include respond(tab-port) {
      display: none;
    }
  }

  &__img {
    width: 59.2rem;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__social {
    position: absolute;
    bottom: 2rem;
    right: 12rem;
    display: flex;
    list-style: none;
    align-items: center;

    @include respond(tab-port) {
      left: 50%;
      right: 0;
      transform: translateX(-50%);
      justify-content: center;
    }

    &::before {
      content: '';
      display: block;
      width: 400rem;
      height: .1rem;
      background-color: $color-gray-light;
      margin-right: 4rem;

      @include respond(tab-port) {
        display: none;
      }
    }

    &-item {
      padding: 0 1rem;
    }

    &-img {
      font-size: 2.4rem;
      font-weight: bold;
      color: $color-gray;

      &:hover {
        color: $color-primary;
      }
    }
  }
}