.header {
  height: 100vh;
  z-index: 9;
  background-color: $color-white;
  position: relative;

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__description {
    max-width: 47rem;
  }

  &__buttons {
    margin-top: 3rem;

    a:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__img {
    width: 59.2rem;
  }

  &__social {
    position: absolute;
    bottom: 2rem;
    right: 12rem;
    display: flex;
    list-style: none;
    align-items: center;

    &::before {
      content: '';
      display: block;
      width: 400rem;
      height: .1rem;
      background-color: $color-gray-light;
      margin-right: 4rem;
    }

    &-item {
      padding: 0 1rem;
    }

    &-img {
      font-size: 2.4rem;
      font-weight: bold;
      color: $color-gray;

      &:hover {
        color: $color-primary;
      }
    }
  }
}