.navigation {
  padding-top: 4.5rem;
  background-color: $color-white;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all .2s;
  z-index: 10;

  /**
   * Applied on scroll
   */
  &--small {
    padding: 1rem 0;
    box-shadow: $header-shadow;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  /*
   * Person's photo, name and role located in the left part of the menu
   */
  &__person {
    display: flex;
  }

  &__person-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 1rem;
  }

  &__person-image {
    width: 4rem;
    height: 4rem;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  &__person-name {
    font-size: $small-font-size;
    font-weight: 700;
    color: $color-primary;
  }

  &__person-role {
    font-size: $small-font-size;
    font-weight: 400;
    color: $color-gray;
  }

  /**
   * Menu's navigation
   */
  &__items {
    list-style: none;
    display: flex;
    justify-content: flex-end;

    @include respond(tab-port) {
      position: absolute;
      flex-direction: column;
      align-items: flex-end;
      right: 0;
      padding: 3.7rem;
      padding-top: 1.7rem;
      border-bottom-left-radius: $menu-mobile-radius;
      background: $color-white;
      z-index: 200;
    }
  }

  .js &__items {
    @include respond(tab-port) {
      display: none;
    }

    &--active {
      @include respond(tab-port) {
        display: flex;
        animation: fromRight .3s forwards;
      }
    }
  }

  &__item {
    font-size: $small-font-size;
    font-weight: 700;
    color: $color-primary;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 3.5rem;
      
      @include respond(tab-port) {
        margin: .7rem 0;
        text-transform: uppercase;
        font-weight: 300;
      }
    }

    @include respond(tab-port) {
      font-size: $big-font-size;
    }
  }

  &__link {
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background-color: currentColor;
      transition: all .2s;
      position: absolute;
      right: 0;

      @include respond(tab-port) {
        height: 1px;
      }
    }

    &:hover::after {
      left: 0;
      width: 100%;
    }
  }
}