/**
 * Resets
 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/**
 * Resizing font depending on screen width
 */
html {
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

/**
 * Body resets
 */
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-height: 200vh; // tests purposes only
}

/**
 * Link reset
 */
a {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}

/**
 * Apply this style in every class that ENDS with "container"
 * For example: .card__container
 */
[class$="container"] {
  max-width: $container;
  margin: 0 auto;
}

/**
 * Changing colors for text selection
 */
::selection {
  background-color: $color-primary;
  color: $color-white;
}

/**
 * Changing scrollbar style on supported browsers
 */
::-webkit-scrollbar {
  width: .7rem;
  background-color: $color-white;
}

::-webkit-scrollbar-thumb {
  background-color: $color-primary;
}