body {
  font-family: "Roboto", "montserrat", sans-serif;
}

.paragraph {
  font-size: $default-font-size;
  line-height: $default-line-height;
  color: $color-secondary;

  &--big {
    font-size: $big-font-size;
  }
}

.heading-primary {
  font-size: $title-font-size;
  color: $color-primary;
  font-weight: 700;
}

.subtitle {
  margin: 5rem 0;

  &__description {
    margin-top: .8rem;
    text-align: center;
    color: $color-gray-dark;
    font-size: $default-font-size;
  }
}

.heading-secondary {
  text-align: center;
  color: $color-secondary;
  font-size: $subtitle-font-size;
  font-weight: 700;
}